<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary row">
      <%= link_to("Ecommerce App", '#', { style: "color:whitesmoke;font-size:25px;", class: 'col' }) %>
      <ul class="navbar-nav mr-auto col-3">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
      </ul>
    </nav>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%#= render 'shared/header' %>
      <%= yield %>
    </div>
  </body>
</html>
